@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

body {
  @apply bg-sky-100 min-h-screen;
}

#root {
  height: 100vh;
}

.home-container {
  background-image: url("/image/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100vh;
  width: 100%;
  min-height: calc(100vh + 100vh);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@layer components {
  .card {
    @apply bg-white;
    border-radius: theme('borderRadius.lg');
    // padding: theme('spacing.5');
    box-shadow: theme('boxShadow.md');
    overflow: hidden;
  }
  .message-box {
    max-height: calc(100% - 110px);
    overflow-y: auto;

  }
  .floating-nav {
    @apply fixed;
    top: 64px;
    left: 5px;
    
    ul {
      @apply flex flex-col items-start;
      display: flex;
      overflow: hidden;
      height: 0;
      transition-property: all;
      transition-duration: 0.3s;
    }
    .placeholder {
      @apply block rounded text-center p-1 my-2 font-semibold;
      background-color: dodgerblue;
      color: white;
    }
    &:hover {
      ul {
        height: 200px;
      }
    }
  }
}